* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    padding: 12px 16px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color: #000000;
    transition: all .5s;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background-color: rgba(255, 255, 255, 1);
}

#nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

#nav-menu li {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
}

#nav-menu li:hover {
    color: rgb(1, 126, 94);
}